<!------------ start of navbar header ---------------->
<header>
  <!-- Sticky Navbar Button (Hamburger) -->
  <div class="position-fixed top-0 end-0 m-1 d-lg-none" style="opacity: 0.50;z-index:1;">
    <button class="navbar-toggler bg-dark fs-3 p-2 border-0 rounded" 
            type="button" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasDarkNavbar" 
            aria-controls="offcanvasDarkNavbar">
      <!-- Custom Hamburger Icon (3 lines) - this is -->
      <span class="navbar-toggler-icon align-items-center justify-content-center text-center m-0 p-0">
        <img src="/images/buger-line-dark.svg" width="100%" height="100%">
      </span>
    </button>
  </div>
  
  <!-- Offcanvas Menu (Shows only when hamburger is clicked) -->
  <div class="offcanvas offcanvas-start text-bg-dark <%=navMenuShow%> <%=navMenuSize%>" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header justify-content-center">
      <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Family Website</h5>
      <button type="button" class="btn-close btn-close-white d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <img src="/images/icons/home.png" width="48px" height="48px" style="filter: invert(1);">
            <span class="ms-1 h4 d-inline-block">Home</span>            
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dailyscripture/view/:Today">
            <img src="/images/icons/bible.png" width="48px" height="48px" style="filter: invert(1);">
            <span class="ms-1 h4 d-inline-block">Daily Scripture</span>            
          </a>
        </li>
        <li class="nav-item">
          <a href="#blogs-submenu" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <img src="/images/icons/blogging.png" width="48px" height="48px" style="filter: invert(1);">
            <span class="ms-1 h4 d-inline-block">Blogs</span>
          </a>
          <ul class="collapse nav flex-column ms-1" id="blogs-submenu" data-bs-parent="#offcanvasDarkNavbar">
            <li class="w-100">
                <a href="/blogs" class="nav-link px-0"> <span class="d-inline-block">Recent Blogs</span></a>
            </li>
            <li>
                <a href="/blogs/edit/:New" class="nav-link px-0"> <span class="d-inline-block">New Blog Entry</span></a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#games-submenu" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <img src="/images/icons/gaming.png" width="48px" height="48px" style="filter: invert(1);">
            <span class="ms-1 h4 d-inline-block">Games</span>
          </a>
          <ul class="collapse nav flex-column ms-1" id="games-submenu" data-bs-parent="#offcanvasDarkNavbar">
            <li class="w-100">
              <a href="#categories-submenu" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <img src="/images/icons/categories.png" width="48px" height="48px" style="filter: invert(1);">
                <span class="ms-1 h4 d-inline-block">Categories</span>
              </a>
              <ul class="collapse nav flex-column ms-1" id="categories-submenu" data-bs-parent="#games-submenu">
                <li class="w-100">
                  <a href="/categories" class="nav-link px-0"> <span class="d-inline-block">Games List</span></a>
                </li>
                <li>
                    <a href="/categories/edit/:New" class="nav-link px-0"> <span class="d-inline-block">Create New</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lord">
            <img src="/images/icons/savior.png" width="48px" height="48px" style="filter: invert(1);">
            <span class="ms-1 h4 d-inline-block">Come Unto The Lord</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sign In / Out Footer -->
    <div class="offcanvas-footer text-center pt-3">
      <div class="d-flex p-0 m-0 justify-content-center align-items-start <%=signInVisibility%>">
        <p class="mb-2 text-start fs-4" tabindex="-1"><%=signedInType%></p>
      </div>
      <div class="d-flex p-0 m-0 justify-content-center align-items-start <%=signInVisibility%>">
        <p id="signedInAs" class="mb-2 text-start fs-5 fw-bold" tabindex="-1"><%=signedInUserName%></p>
      </div>
      <div class="d-flex p-0 m-0 justify-content-center align-items-start <%=signInVisibility%>">
        <p id="signedInAs" class="mb-2 text-start fs-6 fw-bold" tabindex="-1"><%=signedInUserEmail%></p>
      </div>
      <div class="container-fluid w-75">
        <a id="signInSite" class="w-100 h-100" href="<%=signedInOutPath%>" onclick="getLastPath()">
          <p class="text-center fs-3"><%=signedInOutText%></p>
        </a>
      </div>
    </div>
  </div>
  
</header>
<!------------ end of navbar header ---------------->

<!-- Sign In Script For Nicety -->
<script>
  function getLastPath() {
    const signInInfo = {
      path: window.location.pathname,
      time: new Date().getDate(),
    }

    $.ajax({
      type: "POST",
      url: "/signin/lastpath",
      contentType: 'application/json',
      method: 'POST',        
      data: JSON.stringify(signInInfo), // Send the current path as data
      success: function() {
          // Redirect the user after sign-in
          console.log('successfully posted the info');
      }
    });
  }
</script>
