<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/head-scripts.ejs') %>
    <!-- Include stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <style>
      body {
        background-color: #f5efe6;
      }
      body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/images/blogentry.svg') no-repeat;
        background-size: cover;
        background-position: center 33%;
        opacity: 0.20; /* Adjust the value as needed */
        z-index: -1; /* Ensure it stays behind other content */
      }
    </style>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container align-content-center justify-content-center mt-5" style="max-width: 1000px;">
      <div class="fs-2 fw-bold text-center text-black text-shadow-black">Creating A New Blog Entry: <%=blogUser%></div>
      <form id="blogForm">
        <div class="form-group pb-3">
          <label for="title" class="fs-5 fw-bold text-dkgray text-shadow-black">Blog Title</label>
          <input type="text" class="form-control border border-2 border-primary bg-white-transparent-50" id="title" placeholder="Enter title">
        </div>
        <div class="form-group pb-3">
          <label for="content" class="fs-5 fw-bold text-dkgray text-shadow-black">Blog Entry</label>
          <div id="editor" class="border border-2 border-primary bg-white-transparent-50" style="height: 300px;"></div>
        </div>
        <div class="form-group">
          <label for="fileUpload">Upload File</label>
          <input type="file" class="form-control-file" id="fileUpload" accept="image/*,video/*,.pdf">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include('./partials/body-script.ejs') %>
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script>
      // Initialize Quill editor
      var quill = new Quill('#editor', {placeholder: 'Blog Entry', theme: 'snow'});

      // Handle form submission
      document.getElementById('blogForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var title = document.getElementById('title').value;
        var content = quill.root.innerHTML;
        var fileInput = document.getElementById('fileUpload');
        var attachment = fileInput.files[0];
        var formData = new FormData();
        formData.append('title', title);
        formData.append('content', content);
        formData.append('attachment', attachment);
        formData.append('background', '0');

        console.log(`formData being submitted:`);
        console.log(formData);
        

        jQuery.ajax({
          url: `/blog/entry/:${g_submitBlogId}`,
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          method: 'POST',
          type: 'POST', // For jQuery < 1.9
          success: function(response, status, xhr){
            if (response.redirectUrl){
              //window.location.href = response.redirectUrl;
            }
          },
          error: function(error) {
            console.error('Blog Entry: error in submission:', error);
          }
        });
      });

      const g_submitBlogId = "<%=blogId%>";
    </script>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
