<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/head-scripts.ejs') %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <style>
      .blog-background {
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-image: url("/images/blog/backgrounds/<%-blogData.imageName%>.svg");
          background-size: <%-blogData.fillStyle%>;
          background-repeat: no-repeat;
          background-position: center center;
          opacity: <%-blogData.opacity%>;
      }
      .ql-container {
          border: none!important; 
      }
      .blog-content {
        margin-top: 2rem;
        background-color: transparent;
        border: none;
      }
    </style>
  </head>

  <body style="background-color: <%-blogData.backColor%>">
    <div id="blog-background" class="blog-background"></div>    
    <%- include('./partials/nav.ejs') %>
    <div class="container align-content-center justify-content-center mt-5" style="position:relative;max-width: 1000px;">
      <div class="row">
        <dive class="col text-center">
          <button type="button" class="btn btn-primary <%=blogData.previousEntry ? '' : 'd-none'%>" onclick="previousEntry()">
            <i class="bi bi-arrow-left"></i> Previous
          </button>
        </dive>
        <div class="col text-center">
          <div class="text-center h1"><%=blogData.title%></div>
        </div>
        <dive class="col text-center">
          <button type="button" class="btn btn-primary <%=blogData.nextEntry ? '' : "d-none"%>" onclick="nextEntry()">
            Next <i class="bi bi-arrow-right"></i>
          </button>
        </dive>
      </div>
      <div class="row">
          <div class="text-center">by: <%=blogData.username %></div>
      </div>
      <div class="row mx-auto <%=blogOwnerShow%>">
        <div class="col mx-auto text-end <%=blogOwnerShow%>">
          <button type="button" class="btn btn-primary <%=blogOwnerShow%>" onclick="editBlog()">Edit</button>
        </div>
        <div class="col mx-auto text-start <%=blogOwnerShow%>">
          <button type="button" class="btn btn-primary <%=blogOwnerShow%>" onclick="deleteBlog()">Delete</button>
        </div>
      </div>
      <div class="row">
        <div id="editor" class="blog-content"></div>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script>
      const blogContent = "<%=blogData.content%>";
      const blogEditUrl = "<%=blogEditUrl%>";
      const blogViewUrl = "<%=blogViewUrl%>" || "";
      const previousBlogEntry = "<%=blogData.previousEntry%>" || "";
      const nextBlogEntry = "<%=blogData.nextEntry%>" || "";


      function previousEntry(){
        // Send previous date (if it exists) to a REST endpoint to get the previous blog entry
        if ( !previousBlogEntry || blogViewUrl == "" ){
          return;
        }
        window.location.href = `${blogViewUrl}${previousBlogEntry}`;
      }
      function nextEntry(){
        // Send next date (if it exists) to a REST endpoint to get the next blog entry
        if ( !nextBlogEntry || blogViewUrl == "" ){
          return;
        }
        window.location.href = `${blogViewUrl}${nextBlogEntry}`;
      }

      // Function to handle the edit button click
      // This function will redirect to the edit page if the URL is set
      // If the URL is not set, it will do nothing
      function editBlog(){
        if ( blogEditUrl && blogEditUrl != "" ){
          window.location.href = blogEditUrl;
        }
      }

      function deleteBlog(){
        if ( !blogEditUrl || blogEditUrl == "" ){
          return
        }

        let result = confirm("Are you sure you want to delete this blog?");

        if (!result) {
          return;
        }

        $.ajax({
          url: blogEditUrl,
          type: 'DELETE', // HTTP DELETE method
          success: function (response) {
              if (response.redirectUrl) {
                  // Redirect to the provided URL
                  window.location.href = response.redirectUrl;
              }
          },
          error: function (xhr, status, error) {
            try {
                const response = JSON.parse(xhr.responseText); // Attempt to parse JSON
                if (response.redirectUrl) {
                    // Redirect even on error
                    window.location.href = response.redirectUrl;
                } 
            } catch (e) {
                console.error('Error parsing error response:', e);
            }
          }
        });
      }

      function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
      }

      var quill = new Quill('#editor', {
        theme: 'snow',
        readOnly: true,
        modules: {
          toolbar: false
        }
      });

      quill.pasteHTML(decodeHtml(blogContent));

    </script>
    <%- include('./partials/body-script.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
