<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/head-scripts.ejs') %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
     <!-- Include stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <!-- Include your favorite highlight.js stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" rel="stylesheet">
    <style>
      .ql-editor {
        background-color: white;
        min-height: 300px;
        opacity: 0.8 !important;
      }
      .border-top-start-end-2 {
        /* Top, left, and right borders: 3px solid blue */
        border-top: 3px solid #007bff !important;
        border-left: 3px solid #007bff !important;
        border-right: 3px solid #007bff !important;
      }
      body {
        position: relative; /* Ensure layering works properly */
      }
      body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/images/blogentry.svg') no-repeat;
        background-size: cover;
        background-position: center 33%;
        opacity: 0.20; /* Adjust the value as needed */
        z-index: -1; /* Ensure it stays behind other content */
      };
    </style>    
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container align-content-center justify-content-center mt-5" style="max-width: 1000px;">
      <div class="fs-2 fw-bold text-center text-black text-shadow-black">Creating A New Blog Entry: <%=blogData.username%></div>
      <form id="blogForm">
        <div class="form-group pb-3">
          <label for="title" class="fs-5 fw-bold text-dkgray text-shadow-black">Blog Title</label>
          <input type="text" class="form-control border border-2 border-primary" style="opacity:0.8;" maxlength="40" id="title" placeholder="Enter title">
        </div>
        <div class="form-group pb-3">
          <label for="content" class="fs-5 fw-bold text-dkgray text-shadow-black">Blog Entry</label>
          <!-- <div id="editor" class="border border-2 border-primary bg-white-transparent-50" style="height: 300px;"></div> -->
          <div id="toolbar-container" class="border-top-start-end-2 rounded bg-white-transparent-50">
            <span class="ql-formats">
              <select class="ql-font"></select>
              <select class="ql-size"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-bold"></button>
              <button class="ql-italic"></button>
              <button class="ql-underline"></button>
              <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-color"></select>
              <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-script" value="sub"></button>
              <button class="ql-script" value="super"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
              <button class="ql-indent" value="-1"></button>
              <button class="ql-indent" value="+1"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-direction" value="rtl"></button>
              <select class="ql-align"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-link"></button>
            </span>
          </div>
          <div id="editor" class="border border-3 border-primary rounded bg-white-transparent-50"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include('./partials/body-script.ejs') %>
    <!-- Include the highlight.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>    
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script>
      const g_editUrl = "<%=editUrl%>";
      const g_blogData = <%-JSON.stringify(blogData)%>;
      const g_blogContent = "<%=blogData.content%>";

      function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
      }

      // Initialize Quill editor
      var quill = new Quill('#editor', 
      { 
        modules: 
        {
          syntax: true,
          toolbar: '#toolbar-container'
        },
        placeholder: 'Blog Entry',
        theme: 'snow'
      });

      // Handle form submission
      document.getElementById('blogForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var title = document.getElementById('title').value;
        var content = quill.root.innerHTML;
        var formData = new FormData();
        formData.append('title', title);
        formData.append('content', content);
        formData.append('backstyle', '0');
        formData.append('backcolor', 'none');

        //console.log(`formData being submitted:`);
        //console.log(formData);

        jQuery.ajax({
          url: g_editUrl,
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          method: 'POST',
          type: 'POST', // For jQuery < 1.9
          success: function(response, status, xhr){
            if (response.redirectUrl){
              window.location.href = response.redirectUrl;
            }
          },
          error: function(error) {
            console.error('Blog Entry: error in submission:', error);
          }
        }); //end of ajax submit
      }); //end of addEventListener

      // Check to see if a 'New' entry or a title was already provided
      if ( g_blogData.id != 'New' || g_blogData.title != "" ){
        const editTitle = document.getElementById('title');
        editTitle.value = g_blogData.title;
        quill.clipboard.dangerouslyPasteHTML(decodeHtml(g_blogContent));
      }
    </script>
    <%- include('./partials/body-script.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
