<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/head-scripts.ejs') %>
    <style>
      body{
        background-color: #e7d8bb;
        position: relative; /* Ensure layering works properly */
      }
      body::before {
        content: "";
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: url('/images/familytime.svg') no-repeat;
        background-size: cover;
        background-position: center 33%; /* Adjust the vertical alignment */
        opacity: 0.30; /* Adjust the value as needed */
        z-index: -1; /* Ensure it stays behind other content */
      }
    </style>     
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container justify-content-center">
      <div class="row justify-content-center">
        <div class="fs-1 text-center text-dkgray text-shadow-black">
          Categories Game List
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <ul class="list-group mx-auto justify-content-center">
          <%gameData.forEach(function(entry, i, arr){-%>
          <li class="border-bottom border-primary border-1">
            <a class="fs-4 text-shadow-black no-href-decoration" href="<%=entry['gameUrl']%>"><%=entry['gameID']%></a><span class="tab-space"></span>
            <a class="fs-5 text-shadow-blue no-underline" href="<%=entry['gameUrl']%>">Play</a><span class="tab-space"></span>
            <%if(entry['editUrl']){-%>
              <a class="fs-5 text-shadow-blue no-underline" href="<%=entry['editUrl']%>">Edit</a>
            <%}-%>
          </li>
          <%});-%>
        </ul>
      </div>
    </div>

    <%- include('./partials/body-script.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>