<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head.ejs') %>
   <%- include('./partials/head-scripts.ejs') %>
   <style>
      body {
        position: relative; /* Ensure layering works properly */
      }
      body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/images/chatting_color.svg') no-repeat;
        background-position: center center;
        background-size: contain;
        opacity: 0.50; /* Adjust the value as needed */
        z-index: -1; /* Ensure it stays behind other content */
      }    
   </style>
</head>
<body>
   <%- include('./partials/nav.ejs') %>
   <div class="container">
        <div class="row p-2 d-flex justify-content-center align-content-center text-center">
            <h1 style="opacity:0.8;">Chat Room</h1>
        </div>    
        <div class="row p-2 d-flex justify-content-center align-content-center">
            <textarea readonly id="fullChatText" rows="12" style="overflow-y: scroll; resize: none;opacity:0.8;"><%= previousMessages %></textarea>
        </div>
        <form class="form" id="chatForm" action="" autocomplete="off">
            <div class="row p-3 d-flex justify-content-center align-content-center" id="addChat" style="max-width: 100%;">
                <div class="col-sm-3 d-flex justify-content-center align-content-center">
                    <div class="col text-center me-2"><h4>User:</h4></div>
                    <input id="chatUser" type="text" name="user" class="form-control border border-black flex-grow-1" style="opacity:0.8;" placeholder="<%= userName %>">
                </div>                
                <div class="col-sm-4 d-flex justify-content-center align-content-center">
                    <input id="chatText" type="text" name="chat" class="form-control border border-black" style="opacity:0.8;" placeholder="Type Message Here">
                </div>
                <div class="col-sm-1 d-flex justify-content-center align-content-center">
                    <button type="submit" id="chatSubmit" class="btn btn-primary border border-secondary" width="100%">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
    <%- include('./partials/body-script.ejs') %>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.getElementById("chatSubmit").onclick = function( event ) {
            event.preventDefault();
            let form = $("#chatForm");
            let url = '/chat/messages';
            let chat = form.serialize();

            if ( document.getElementById("chatUser").value.trim() == "" ){
                chat = chat.slice(0,5) + '<%= userName %>' + chat.slice(5);
            }

            document.getElementById("chatText").value = "";
            console.log('Posting Message: ' + chat);

            $.ajax({
                type: "POST",
                url: url,
                data: chat,
                success: function(data) {
                    console.log("Chat message was sent successfully");
                },
                error: function(data) {
                    console.log("Chat send error");
                },
                timeout: 100
            });

            document.getElementById("chatText").focus();
        };



        var socket = io();

        function addMessages(message){
            var datetime = new Date();
            var chatMessages = document.getElementById('fullChatText');
            chatMessages.textContent += message + "\r\n";
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }

        function getMessages(){
            $.get('http://localhost:3000/chat/messages', (data) => {
                data.forEach(addMessages);
            });
        }

        socket.on('message', addMessages);
    </script>

    <%- include('./partials/footer.ejs') %>
</body>

</html>