<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/head-scripts.ejs') %>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container align-content-center justify-content-center">
      <h1 class="display-1 text-center">
        Daily Scripture
      </h1>
    </div>

    <%- include('./partials/body-script.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>