<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/head-scripts.ejs') %>
  </head>

  <body>
    <%- include('./partials/nav.ejs')  %>
    <div class="container align-content-center justify-content-center">
      <h1 class="fw-bold fs-1 text-center text-danger">
        No Access To Resource...
      </h1>
      <h2 class="fw-bold fs-2 text-center text-primary">
        This Feature Requires Signing In To the Website
      </h2>
    </div>

    <%- include('./partials/body-script.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>